@font-face {
    font-family: 'RobotoSlab';
    src: url('fonts/robotoslab/robotoslab-bold/RobotoSlab-Bold.woff') format('woff'),
         url('fonts/robotoslab/robotoslab-bold/RobotoSlab-Bold.svg#roboto_slabbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans/opensans-regular/OpenSans-Regular.woff') format('woff'),
         url('fonts/opensans/opensans-regular/OpenSans-Regular.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans/opensans-semibold/OpenSans-Semibold.woff') format('woff'),
         url('fonts/opensans/opensans-semibold/OpenSans-Semibold.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans/opensans-bold/OpenSans-Bold.woff') format('woff'),
         url('fonts/opensans/opensans-bold/OpenSans-Bold.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans/opensans-extrabold/OpenSans-ExtraBold.woff') format('woff'),
         url('fonts/opensans/opensans-extrabold/OpenSans-ExtraBold.svg#OpenSans') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'VampiroOne';
    src: url('fonts/vampiroone/VampiroOne-Regular.woff') format('woff'),
         url('fonts/vampiroone/VampiroOne-Regular.svg#VampiroOne') format('svg');
    font-weight: 400;
    font-style: normal;
}



