<zk>
	<window title="Start contract" position="center,center"
		width="200px" height="200px" closable="true" border="normal"
		viewModel="@id('startContractVm') @init('com.playtagon.pandarium_web.adminpanel.ethereum.ApStartContractViewModel')"
		validationMessages="@id('vmsgs')">
		<div id="form"
			form="@id('fx') @init(startContractVm) @load(startContractVm) @save(startContractVm, before='startPresale') @validator(startContractVm.validator) ">
			<vbox>
				<hbox spacing="5px">
					Total pandas for sale:
					<intbox value="@save(startContractVm.totalPandas)"
						constraint="no empty">
					</intbox>
				</hbox>
				<hbox spacing="5px">
					Presale duration:
					<intbox
						value="@save(startContractVm.durationInMinutes)"
						constraint="no empty">
					</intbox>
				</hbox>
				<hbox spacing="5px">
					Panda price in ETH:
					<doublebox
						value="@save(startContractVm.pandaPriceInETH)"
						constraint="no empty">
					</doublebox>
				</hbox>
				<hbox spacing="5px">
					Gas price:
					<intbox value="@save(startContractVm.gasPrice)"
						constraint="no empty">
					</intbox>
				</hbox>
				<hbox spacing="5px">
					Gas limit:
					<intbox value="@save(startContractVm.gasLimit)"
						constraint="no empty">
					</intbox>
				</hbox>
				<hbox spacing="5px">
					Wallet password:
					<textbox id="pass" type="password"
						constraint="no empty">
					</textbox>
				</hbox>
				<button label="START PRESALE!!"
					onClick="@command('startPresale', password=pass.value)">
				</button>
			</vbox>
		</div>
		<label id="err" value="@load(vmsgs[form])" />
	</window>
</zk>