<?page title="Login to admin panel" contentType="text/html;charset=UTF-8"?>
<zk>
	<hbox self="@define(content)" vflex="1" hflex="1" align="center"
		pack="center" spacing="20px">
		<vlayout>
			<window id="loginWin"
				viewModel="@id('vm') @init('com.playtagon.pandarium_web.adminpanel.ApLoginViewModel')"
				title="Login with your username" border="normal">
				<vbox align="center">
					<grid hflex="min">
						<columns>
							<column hflex="min" align="right" />
							<column />
						</columns>
						<rows>
							<row>
								Username:
								<textbox id="name" width="200px"
									value="@save(vm.username)" />
							</row>
							<row>
								Password:
								<textbox id="pass" type="password"
									width="200px" value="@save(vm.password)" />
							</row>
						</rows>
					</grid>
					<label id="err" style="color: red" sclass="warn"
						value="@load(vm.error)" />
					<button id="login" label="Login"
						onClick="@command('login')" />
				</vbox>
			</window>
		</vlayout>
	</hbox>
</zk>