/*-- respond --*/
/*-- respond end --*/
* {
  outline: none; }

html {
  font-size: 16px; }

body {
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  font-family: "OpenSans", sans-serif;
  line-height: 1.4;
  color: #000000; }

a, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none; }

.wrap-100 {
  min-height: 100vh; }

.container-max {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }

.text-semibold {
  font-weight: 600; }

.wrap-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.mb-4-plus {
  margin-bottom: 2rem; }

.z-3 {
  z-index: 3; }

.prl {
  position: relative; }

.link {
  color: #5b5b5b; }
  .link:hover {
    color: #e75200; }

.fz-1 {
  font-size: 3rem; }

.fz-2 {
  font-size: 2.25; }

.fz-3 {
  font-size: 1.5rem; }

.fz-4 {
  font-size: 1.25rem; }

.fz-5 {
  font-size: 1.125rem; }

.fz-6 {
  font-size: .875rem; }

.load-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  z-index: 9999; }
  .load-wrap__transparent {
    background: rgba(255, 255, 255, 0.95); }
  .load-wrap_massage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .load-wrap_massage:before {
      width: 190px;
      height: 190px;
      background: url("../img/load.gif"), url("../img/panda-load.svg");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: 190px 190px;
      background-size: 190px;
      margin-bottom: 1rem;
      content: ""; }
    .load-wrap_massage__error {
      color: #ff5533; }

.tooltip-inner {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1rem;
  height: 2rem;
  max-width: 320px;
  background: #cccccc;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  line-height: 1; }

.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #cccccc; }

.tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #cccccc; }

.tooltip.show {
  opacity: 1; }

.tooltip.error .tooltip-inner {
  background: #ff5533; }

.tooltip.error.bs-tooltip-top .arrow::before {
  border-top-color: #ff5533; }

.tooltip.error.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #ff5533; }

/* prelunch */
.btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
  font-family: "RobotoSlab", sans-serif;
  font-size: 1.5rem;
  border: none;
  line-height: 1;
  -webkit-border-radius: 50px;
  border-radius: 50px; }
  @media (max-width: 575px) {
    .btn {
      font-size: 1.25rem; } }
  .btn:hover {
    cursor: pointer; }
  .btn:focus, .btn:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-pandopt {
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out; }
    .btn-pandopt, .btn-pandopt:active {
      background: -webkit-gradient(linear, left top, right top, from(#ffc000), to(#ffa800)) !important;
      background: -webkit-linear-gradient(left, #ffc000 0%, #ffa800 100%) !important;
      background: -o-linear-gradient(left, #ffc000 0%, #ffa800 100%) !important;
      background: linear-gradient(to right, #ffc000 0%, #ffa800 100%) !important;
      color: #630a3e;
      -webkit-box-shadow: 0 0.75rem 2rem rgba(255, 168, 0, 0.3);
      box-shadow: 0 0.75rem 2rem rgba(255, 168, 0, 0.3); }
    .btn-pandopt:hover {
      background: -webkit-gradient(linear, left top, right top, from(#ffc000), to(#ffc000));
      background: -webkit-linear-gradient(left, #ffc000 0%, #ffc000 100%);
      background: -o-linear-gradient(left, #ffc000 0%, #ffc000 100%);
      background: linear-gradient(to right, #ffc000 0%, #ffc000 100%);
      -webkit-box-shadow: 0 0rem 1.5rem rgba(255, 168, 0, 0.5);
      box-shadow: 0 0rem 1.5rem rgba(255, 168, 0, 0.5); }
    @media (max-width: 575px) {
      .btn-pandopt {
        height: 3rem; } }
    .btn-pandopt:disabled {
      background: #cccccc !important;
      color: #fff;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .btn-copy {
    height: 3rem;
    border: 1px solid #cccccc;
    font-size: 1.25rem;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out; }
    .btn-copy:hover {
      border-color: #b3b3b3;
      color: #0d8d62; }
    .btn-copy:active {
      color: #b3b3b3; }

.navbar {
  padding: 2.5rem 3vw 0; }
  @media (max-width: 767px) {
    .navbar {
      padding: 15px;
      position: relative; } }
  .navbar-toggler {
    width: 48px;
    height: 48px;
    position: relative;
    border: none;
    outline: none; }
    .navbar-toggler, .navbar-toggler:focus {
      outline: none; }
    .navbar-toggler:before, .navbar-toggler:after {
      width: 70%;
      height: 2px;
      background: #999999;
      content: "";
      position: absolute;
      top: 50%;
      left: 15%;
      content: "";
      -webkit-border-radius: 2px;
      border-radius: 2px; }
    .navbar-toggler:before {
      margin-top: -7px; }
    .navbar-toggler:after {
      margin-top: 7px; }
  @media (max-width: 767px) {
    .navbar-nav {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid #f0f6fb;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .navbar-presale {
      position: relative;
      padding: 2.5rem 3vw; } }

.navbar-brand {
  width: 260px;
  height: 60px;
  background: url("../img/logo.svg");
  -webkit-background-size: 260px 60px;
  background-size: 260px 60px; }
  @media (max-width: 575px) {
    .navbar-brand {
      height: 40px;
      -webkit-background-size: 174px 40px;
      background-size: 174px 40px;
      width: 60px; }
      .navbar-brand__full-mobile {
        width: 174px; } }

.nav-link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3rem;
  padding: 0 1rem !important;
  margin: 0 .25rem;
  font-family: "RobotoSlab", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1;
  border: 1px solid #cccccc;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out; }
  @media (max-width: 767px) {
    .nav-link {
      margin: .25rem; } }
  .nav-link:hover {
    border-color: #999999; }
  .nav-link:active {
    color: #b3b3b3; }

/* select paper bamboo */
.dropdown-paper .dropdown-menu {
  width: 100%;
  border: none;
  padding: .5rem 1rem 1.5rem;
  margin-top: 0;
  -webkit-box-shadow: 0 6px 20px rgba(24, 0, 67, 0.1);
  box-shadow: 0 6px 20px rgba(24, 0, 67, 0.1);
  -webkit-border-radius: 0 0 1.5rem 1.5rem;
  border-radius: 0 0 1.5rem 1.5rem; }

.dropdown-paper .dropdown-item {
  padding: .375rem .25rem;
  font-size: .875rem; }
  .dropdown-paper .dropdown-item:before {
    display: inline-block;
    width: 27px;
    height: 18px;
    margin-right: 1rem;
    background: #ccc;
    content: "";
    vertical-align: middle; }
  .dropdown-paper .dropdown-item.britain-flag:before {
    background: url("../img/britain-flag.svg"); }
  .dropdown-paper .dropdown-item.china-flag:before {
    background: url("../img/china-flag.svg"); }
  .dropdown-paper .dropdown-item.japan-flag:before {
    background: url("../img/japan-flag.svg"); }
  .dropdown-paper .dropdown-item.korea-flag:before {
    background: url("../img/korea-flag.svg"); }
  .dropdown-paper .dropdown-item.russia-flag:before {
    background: url("../img/russia-flag.svg"); }
  .dropdown-paper .dropdown-item.active {
    color: #000;
    font-weight: 600; }
  .dropdown-paper .dropdown-item.active, .dropdown-paper .dropdown-item:active, .dropdown-paper .dropdown-item:hover {
    background: transparent; }
  .dropdown-paper .dropdown-item:not(.active):hover {
    color: #666666; }

.dropdown-paper .choose-language {
  display: block;
  width: 100%;
  margin: .75rem 0 0;
  font-size: .75rem;
  color: #b3b3b3;
  text-align: center; }

.btn-paper {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 200px;
  height: 3rem;
  padding: 0 .75rem;
  font-family: "RobotoSlab", sans-serif;
  color: #65af71;
  background: transparent;
  border: 1px solid #65af71;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem; }
  .btn-paper:focus {
    outline: none; }
  .btn-paper:hover {
    cursor: pointer; }
  .btn-paper:before {
    display: block;
    width: 16px;
    height: 20px;
    background: url("../img/bamboo-paper.svg") left;
    -webkit-background-size: 32px 20px;
    background-size: 32px 20px;
    content: ""; }
  .btn-paper:after {
    display: block;
    width: 8px;
    height: 6px;
    background: url("../img/dropdown-paper.svg") left;
    -webkit-background-size: 16px 6px;
    background-size: 16px 6px;
    content: ""; }
  .btn-paper[aria-expanded="true"] {
    -webkit-border-radius: 1.5rem 1.5rem  0 0;
    border-radius: 1.5rem 1.5rem  0 0;
    border-color: transparent;
    -webkit-box-shadow: 0 6px 20px rgba(24, 0, 67, 0.1);
    box-shadow: 0 6px 20px rgba(24, 0, 67, 0.1);
    color: #000; }
    .btn-paper[aria-expanded="true"]:after, .btn-paper[aria-expanded="true"]:before {
      background-position: right; }

/* discord label */
.discord-widget {
  display: block;
  width: 3rem;
  height: 3rem;
  background: #fff;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
  position: relative; }
  .discord-widget:hover {
    background: #f2f2f2;
    cursor: pointer; }
  @media (max-width: 767px) {
    .discord-widget {
      position: fixed;
      left: 1rem;
      bottom: 1.5rem;
      z-index: 5; } }
  .discord-widget:before {
    width: 1.75rem;
    height: 1.25rem;
    margin-top: -.625rem;
    margin-left: -.875rem;
    background-image: url("../img/discord-logo.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    content: ""; }
  .discord-widget:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid #fafafa;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    content: "";
    z-index: -1;
    -webkit-animation: flashing .8s infinite ease-in-out;
    animation: flashing .8s infinite ease-in-out; }

@-webkit-keyframes flashing {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    border: 1px solid #f2f2f2; } }

@keyframes flashing {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    border: 1px solid #f2f2f2; } }

.container-bamboo {
  position: relative; }
  .container-bamboo:before, .container-bamboo:after {
    background: url("../img/bamboo.svg") top right;
    position: absolute;
    content: "";
    z-index: -1; }
  .container-bamboo:before {
    width: 200px;
    height: 420px;
    -webkit-background-size: 280px 420px !important;
    background-size: 280px 420px !important;
    top: 0;
    right: 0;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1); }
    @media (max-width: 575px) {
      .container-bamboo:before {
        width: 40vw;
        height: 65vw;
        -webkit-background-size: 60vw 60vw;
        background-size: 60vw;
        top: -10vw; } }
  .container-bamboo:after {
    width: 240px;
    height: 360px;
    -webkit-background-size: 320px 480px !important;
    background-size: 320px 480px !important;
    bottom: 0;
    left: 0; }
    @media (max-width: 1199px) {
      .container-bamboo:after {
        display: none; } }
  .container-bamboo__dark:before, .container-bamboo__dark:after {
    background: url("../img/bamboo-dark.svg") top right;
    z-index: 1; }
  @media (min-width: 768px) and (max-width: 991px) {
    .container-bamboo__dark:before {
      display: none !important; } }
  @media (max-width: 767px) {
    .container-bamboo__dark:before {
      display: none !important; } }

.prelunch-bamboo {
  position: relative; }
  .prelunch-bamboo:before, .prelunch-bamboo:after {
    background: url("../img/bamboo.svg") top right;
    position: absolute;
    content: "";
    z-index: -1; }
  .prelunch-bamboo:before {
    width: 262px;
    height: 160px;
    background: url("../img/prelunch-bamboo-top.svg");
    top: 0;
    left: 33%; }
    @media (min-width: 768px) and (max-width: 991px) {
      .prelunch-bamboo:before {
        left: 360px; } }
    @media (max-width: 767px) {
      .prelunch-bamboo:before {
        display: none; } }
  .prelunch-bamboo:after {
    width: 160px;
    height: 262px;
    background: url("../img/prelunch-bamboo-right.svg");
    bottom: 20%;
    right: 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      .prelunch-bamboo:after {
        left: 0;
        right: auto;
        -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1); } }
    @media (min-width: 576px) and (max-width: 767px) {
      .prelunch-bamboo:after {
        bottom: 2rem; } }
    @media (max-width: 575px) {
      .prelunch-bamboo:after {
        display: none; } }

.prelunch-title {
  font-family: "RobotoSlab", sans-serif;
  font-weight: 700;
  line-height: 1; }
  .prelunch-title__h1 {
    font-size: 6rem; }
    @media (min-width: 768px) and (max-width: 991px) {
      .prelunch-title__h1 {
        font-size: 10vw; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .prelunch-title__h1 {
        font-size: 10vw; } }
    @media (max-width: 575px) {
      .prelunch-title__h1 {
        font-size: 15vw;
        margin-bottom: 0; } }
  .prelunch-title__h2 {
    font-size: 4rem; }
    @media (min-width: 768px) and (max-width: 991px) {
      .prelunch-title__h2 {
        font-size: 6vw; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .prelunch-title__h2 {
        font-size: 6vw; } }
    @media (max-width: 575px) {
      .prelunch-title__h2 {
        font-size: 10vw; } }
  .prelunch-title__h3 {
    font-size: 2.5rem; }
    @media (max-width: 767px) {
      .prelunch-title__h3 {
        font-size: 9vw; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .prelunch-title__h3 {
        font-size: 2rem; } }

.color-white {
  color: #ffffff; }

.after-title {
  display: block;
  font-family: "VampiroOne", sans-serif;
  font-size: 3.2vw;
  color: #0d8d62;
  margin-top: .5rem;
  position: relative;
  z-index: 4; }
  @media (min-width: 768px) and (max-width: 991px) {
    .after-title {
      font-size: 5vw; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .after-title {
      font-size: 6vw; } }
  @media (max-width: 575px) {
    .after-title {
      font-size: 10vw; } }

.prelunch-subtitle {
  color: #0d8d62;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600; }
  @media (max-width: 575px) {
    .prelunch-subtitle {
      font-size: 1rem; } }

.prelunch-text {
  font-size: 1.25rem; }
  @media (max-width: 575px) {
    .prelunch-text {
      font-size: 1rem; } }
  .prelunch-text__small {
    font-size: 1.125rem; }
    @media (max-width: 575px) {
      .prelunch-text__small {
        font-size: 1rem; } }

/* prelunch */
.b-become-founder {
  width: 360px;
  max-width: 360px;
  margin-right: 5vw; }
  @media (max-width: 767px) {
    .b-become-founder {
      width: 100%;
      max-width: none;
      margin-right: 0;
      text-align: center; } }

.founder-title {
  font-family: "RobotoSlab", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1; }
  @media (max-width: 575px) {
    .founder-title {
      font-size: 10vw; } }
  @media (max-width: 359px) {
    .founder-title {
      font-size: 12vw; } }

.founder-text {
  font-size: 1.25rem; }
  @media (max-width: 575px) {
    .founder-text {
      font-size: 1.125rem; } }
  .founder-text__sm {
    margin-bottom: 1.5rem;
    font-size: 1rem; }
    @media (max-width: 575px) {
      .founder-text__sm {
        font-size: .875rem; } }

.subscribers {
  padding: .875rem 0;
  font-size: .875rem;
  color: #999999; }

.form-input {
  height: 4rem;
  padding: 0 2rem;
  background: transparent;
  font-size: 1rem;
  color: #000000;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  margin-left: -.25rem; }
  .form-input::-webkit-input-placeholder {
    color: #b3b3b3;
    text-overflow: ellipsis; }
  @media (max-width: 575px) {
    .form-input {
      height: 3rem; } }
  .form-input__small {
    border: none;
    padding: 1rem 0;
    font-size: 1.25rem;
    border-bottom: 1px solid #cccccc;
    -webkit-border-radius: 0;
    border-radius: 0; }
    @media (max-width: 575px) {
      .form-input__small {
        width: 100%;
        font-size: 1rem; } }

.form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0; }

.form-row .form-input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.form-val {
  min-width: 120px;
  font-size: 1.125rem;
  padding-right: 1.5rem; }
  @media (max-width: 575px) {
    .form-val {
      min-width: 110px;
      font-size: 1rem;
      padding-right: 1rem; } }

.form-alert {
  min-height: 32px;
  padding-top: .75rem;
  margin-bottom: -.5rem; }
  @media (max-width: 575px) {
    .form-alert {
      font-size: .875rem; } }
  .form-alert__error {
    color: #ff5533; }

.panda-card-model {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  max-width: 650px;
  -webkit-border-radius: .75rem;
  border-radius: .75rem;
  border-bottom: 4px solid #f0f4f7;
  overflow: hidden;
  -webkit-box-shadow: 0 8px 32px rgba(24, 0, 67, 0.12);
  box-shadow: 0 8px 32px rgba(24, 0, 67, 0.12);
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  @media (max-width: 767px) {
    .panda-card-model {
      margin: auto; } }
  @media (max-width: 575px) {
    .panda-card-model {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      flex-flow: column;
      max-width: 360px; } }

.gen-x {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 0;
  text-align: center;
  position: relative;
  margin-right: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  @media (max-width: 575px) {
    .gen-x {
      margin-right: 0;
      padding-bottom: 0; } }
  .gen-x_panda {
    width: 100%;
    max-width: 260px; }
    @media (max-width: 575px) {
      .gen-x_panda {
        max-width: none; } }
    .gen-x_panda canvas {
      min-height: 150px;
      max-height: 260px; }
      @media (min-width: 992px) {
        .gen-x_panda canvas {
          min-height: 180px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .gen-x_panda canvas {
          min-height: 180px;
          max-height: 180px; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .gen-x_panda canvas {
          min-height: 170px;
          max-height: 170px; } }
      @media (max-width: 575px) {
        .gen-x_panda canvas {
          min-height: 220px; } }
  .gen-x_name {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1; }
  .gen-x_founder {
    font-size: .8125rem;
    color: #6e6f85;
    line-height: 1.1; }
  .gen-x_quantity {
    padding: 0 1rem;
    margin-top: 1.5rem;
    font-size: 1.125rem;
    font-weight: 600; }
    @media (max-width: 767px) {
      .gen-x_quantity {
        font-size: 1rem; } }
    @media (max-width: 575px) {
      .gen-x_quantity {
        margin-top: 1rem; } }
  .gen-x_score {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2rem;
    padding: 0 1.125rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    background: #9ab4d8;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase; }
    .gen-x_score:before {
      display: block;
      width: 20px;
      height: 20px;
      margin-right: .5rem;
      background: url("../img/gen.svg");
      content: ""; }
  .gen-x_bg {
    width: 100%;
    padding-top: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
    .gen-x_bg:before {
      display: block;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0)));
      background: -webkit-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
      background: -o-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      top: 0;
      left: 0;
      content: ""; }

.attributes-title {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase; }

.panda-attributes {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 3vw;
  background: #fff; }
  @media (min-width: 992px) {
    .panda-attributes {
      padding: 2rem; } }
  @media (max-width: 575px) {
    .panda-attributes {
      padding: 1.5rem; } }
  @media (max-width: 359px) {
    .panda-attributes {
      padding: 10vw; } }
  .panda-attributes_wrap {
    --size-gap: 1.25rem .75rem;
    --num-columns: 3;
    display: grid;
    grid-gap: var(--size-gap);
    grid-template-columns: repeat(var(--num-columns), 1fr); }
    @media (min-width: 768px) and (max-width: 991px) {
      .panda-attributes_wrap {
        --num-columns: 2;
        --size-gap: 1rem 1.5rem; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .panda-attributes_wrap {
        --size-gap: 1rem; } }
    @media (max-width: 575px) {
      .panda-attributes_wrap {
        --size-gap: 1rem; } }
    @media (max-width: 359px) {
      .panda-attributes_wrap {
        --num-columns: 2;
        --size-gap: 1rem 1.5rem; } }
  .panda-attributes_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .panda-attributes_type {
    margin-bottom: .5rem;
    font-size: .8125rem;
    font-weight: 600; }
  .panda-attributes_number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: .75rem;
    color: #808080;
    text-align: center;
    line-height: .85; }
    .panda-attributes_number > span {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: auto;
      height: 1.5rem;
      margin: 0 .25rem;
      -webkit-border-radius: .75rem;
      border-radius: .75rem;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media (max-width: 575px) {
        .panda-attributes_number > span {
          font-size: 0.6875rem; } }
    .panda-attributes_number .active {
      padding: 0 .25rem;
      margin: 0 .125rem;
      background: #e9eef2; }

/* road-map */
.road-map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4rem 8rem 4rem 3rem;
  border-top: 1px dashed #e6e6e6; }
  @media (max-width: 767px) {
    .road-map {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 2rem 5vw 3rem; } }
  .road-map_title {
    padding-right: 2rem;
    font-size: 1.25rem;
    color: #3da171;
    text-transform: uppercase;
    font-weight: 700; }
    @media (max-width: 767px) {
      .road-map_title {
        padding-right: 0;
        margin-bottom: 1.25rem; } }
  .road-map-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 16px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    @media (max-width: 767px) {
      .road-map-line {
        width: 16px;
        height: auto; } }
  .road-map_body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    position: relative; }
    @media (max-width: 767px) {
      .road-map_body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .road-map_body:before {
      width: 100%;
      height: 1rem;
      background: #e5e5e5;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-border-radius: .5rem;
      border-radius: .5rem;
      content: ""; }
      @media (max-width: 767px) {
        .road-map_body:before {
          height: 100%;
          width: 1rem; } }
  .road-map_point {
    width: 20px;
    height: 20px;
    margin: -.125rem 0;
    border: 4px solid #e5e5e5;
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 2; }
    @media (max-width: 767px) {
      .road-map_point {
        margin: 1rem -.125rem; }
        .road-map_point:first-child {
          margin-top: 0; }
        .road-map_point:last-child {
          margin-bottom: 0; } }
    .road-map_point:before {
      width: 6px;
      height: 6px;
      margin-top: -3px;
      margin-left: -3px;
      background: #e5e5e5;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      content: ""; }
    .road-map_point.checked {
      border-color: #3da171; }
      .road-map_point.checked:before {
        background: #3da171; }
  .road-map_stage {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    font-size: .9125rem;
    color: #4d4d4d;
    text-align: center;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
    @media (max-width: 767px) {
      .road-map_stage {
        top: 0;
        left: 2rem;
        bottom: auto;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        margin-top: .375rem; } }
  .road-map_date {
    position: absolute;
    top: 1.5rem;
    left: 50%;
    font-size: .8125rem;
    color: #999999;
    text-align: center;
    line-height: 1.375;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
    @media (min-width: 768px) and (max-width: 991px) {
      .road-map_date span {
        display: block; } }
    @media (max-width: 767px) {
      .road-map_date {
        top: 0;
        right: 2rem;
        left: auto;
        bottom: auto;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        margin-top: .375rem;
        text-align: right; }
        .road-map_date span {
          display: inline-block; } }
  .road-map_stage, .road-map_date {
    white-space: nowrap; }
  @media (min-width: 768px) {
    .road-map_point:first-child .road-map_stage, .road-map_point:first-child .road-map_date {
      left: 0;
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      transform: translate(0);
      text-align: left; }
    .road-map_point:last-child .road-map_stage, .road-map_point:last-child .road-map_date {
      left: auto;
      right: 0;
      text-align: right;
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      transform: translate(0); } }
  .road-map_point.checked .road-map_stage {
    color: #000;
    font-weight: 700; }
  .road-map_progress {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: .5rem;
    border-radius: .5rem;
    z-index: 1; }
    .road-map_progress__vw {
      width: 20%;
      height: 100%;
      background: -webkit-gradient(linear, right top, left top, from(#87bb71), to(#3fa271));
      background: -webkit-linear-gradient(right, #87bb71 0%, #3fa271 100%);
      background: -o-linear-gradient(right, #87bb71 0%, #3fa271 100%);
      background: linear-gradient(to left, #87bb71 0%, #3fa271 100%); }
      @media (max-width: 767px) {
        .road-map_progress__vw {
          display: none; } }
    .road-map_progress__vh {
      display: none;
      width: 100%;
      height: 20%;
      background: -webkit-gradient(linear, left bottom, left top, from(#87bb71), to(#3fa271));
      background: -webkit-linear-gradient(bottom, #87bb71 0%, #3fa271 100%);
      background: -o-linear-gradient(bottom, #87bb71 0%, #3fa271 100%);
      background: linear-gradient(to top, #87bb71 0%, #3fa271 100%); }
      @media (max-width: 767px) {
        .road-map_progress__vh {
          display: block; } }

/* invite page */
.invite-bg {
  background: #ffffff;
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 50%, #f0f6fb 50%, #f0f6fb 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #f0f6fb), to(#f0f6fb));
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 50%, #f0f6fb 50%, #f0f6fb 100%);
  background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #f0f6fb 50%, #f0f6fb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f6fb',GradientType=1 ); }
  @media (max-width: 767px) {
    .invite-bg {
      background: transparent; }
    .invite-bg__col {
      background: #f0f6fb; } }

.invite-grid {
  padding: 0 9vw; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .invite-grid {
      padding: 0 8vw; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .invite-grid {
      padding: 0 6vw; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .invite-grid {
      padding: 0 4vw; } }
  @media (max-width: 575px) {
    .invite-grid {
      padding: 0 15px; } }

.invite-progres-bar {
  display: block;
  width: 100%;
  height: 8px;
  background: #daeaf2;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden; }
  .invite-progres-bar_val {
    background: #63ba88;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px; }

.table-invite {
  font-size: 1rem; }
  .table-invite th {
    font-weight: normal; }
  .table-invite tbody > tr > * {
    border: none; }
  .table-invite th, .table-invite td {
    padding: .5rem; }
  .table-invite thead th {
    padding: 1rem .5rem;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1rem;
    font-size: .875rem; }
  .table-invite tbody > tr:first-child > * {
    padding-top: 1rem; }
  .table-invite tbody td.td-date {
    font-weight: 600; }

.invite-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media (max-width: 767px) {
    .invite-nav {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .invite-nav_item {
    padding: .75rem;
    font-size: 1rem;
    font-weight: 600;
    position: relative; }
    .invite-nav_item:hover {
      cursor: pointer; }
    .invite-nav_item__next:before {
      width: 1px;
      height: 50%;
      background: #cccccc;
      position: absolute;
      top: 25;
      left: 0;
      content: ""; }
    .invite-nav_item:after {
      width: 10px;
      height: 16px;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMTYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDE2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTAuOCw5LjFsNi4zLDYuM2MwLjMsMC4zLDAuNywwLjQsMS4xLDAuNGMwLjQsMCwwLjgtMC4xLDEuMS0wLjRjMC42LTAuNiwwLjYtMS41LDAtMi4xTDQsOGw1LjItNS4yYzAuNi0wLjYsMC42LTEuNSwwLTIuMWMtMC42LTAuNi0xLjUtMC42LTIuMSwwTDAuOCw2LjlDMC4yLDcuNSwwLjIsOC41LDAuOCw5LjF6Ii8+PHBhdGggZD0iTTE5LjIsNi45bC02LjMtNi4zYy0wLjYtMC42LTEuNS0wLjYtMi4xLDBjLTAuNiwwLjYtMC42LDEuNSwwLDIuMUwxNiw4bC01LjIsNS4yYy0wLjYsMC42LTAuNiwxLjUsMCwyLjFjMC4zLDAuMywwLjcsMC40LDEuMSwwLjRjMC40LDAsMC44LTAuMSwxLjEtMC40bDYuMy02LjNDMTkuOCw4LjUsMTkuOCw3LjUsMTkuMiw2Ljl6Ii8+PC9zdmc+);
      -webkit-background-size: 20px 16px;
      background-size: 20px 16px;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      content: "";
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out; }
      .invite-nav_item:after:hover {
        -webkit-transition: all .1s ease-out;
        -o-transition: all .1s ease-out;
        transition: all .1s ease-out; }
    .invite-nav_item__prev {
      padding-left: 1.25rem; }
      .invite-nav_item__prev:after {
        background-position: left;
        left: 0; }
      .invite-nav_item__prev:hover:after {
        left: -2px; }
    .invite-nav_item__next {
      padding-right: 1.25rem; }
      .invite-nav_item__next:after {
        background-position: right;
        right: 0; }
      .invite-nav_item__next:hover:after {
        right: -2px; }
    .invite-nav_item__disabled {
      color: #b3b3b3; }
      .invite-nav_item__disabled, .invite-nav_item__disabled:hover {
        cursor: default; }
      .invite-nav_item__disabled:after {
        display: none; }

.invite-status {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #cccccc;
  margin: 0px auto; }
  .invite-status__active {
    background: #63ba88;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTYgMTY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojRkZGRkZGO308L3N0eWxlPjxnPjxnPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0zLjYsNi4xbDIuNywyLjdsNi02TDE0LjUsNWwtNiw2bC0yLjEsMi4xTDQuMywxMUwxLjUsOC4zTDMuNiw2LjF6Ii8+PC9nPjwvZz48L3N2Zz4=);
    -webkit-background-size: 16px 16px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    border: none; }

.invite-count {
  padding-left: .75rem;
  font-size: 1.125rem;
  font-weight: 600; }
  .invite-count_active {
    color: #63ba88; }
    .invite-count_active:after {
      color: #cccccc;
      padding: 0 .25rem;
      content: "/"; }

.jssocials {
  margin-top: -.375rem;
  margin-bottom: -.375rem; }
  .jssocials-shares {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .jssocials-shares * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    @media (max-width: 575px) {
      .jssocials-shares {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .jssocials-share {
    width: 3rem;
    height: 3rem;
    -webkit-border-radius: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid;
    margin: .375rem;
    position: relative;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .jssocials-share-logo {
      display: block;
      width: 20px;
      height: 20px;
      margin: 13px; }
    .jssocials-share-facebook {
      background: #3a559f;
      border-color: #3a559f; }
    .jssocials-share-twitter {
      background: #23aae1;
      border-color: #23aae1; }
    .jssocials-share-telegram {
      background: #139bd0;
      border-color: #139bd0; }
    .jssocials-share-reddit {
      background: #ff3f18;
      border-color: #ff3f18; }
    .jssocials-share-email {
      border-color: #cccccc; }
    .jssocials-share:hover {
      background: #ffffff;
      cursor: pointer; }
    .jssocials-share:hover .fa {
      background-position-y: bottom; }

.fa {
  background: url("../img/share.svg");
  -webkit-background-size: 100px 40px;
  background-size: 100px 40px; }
  .fa-facebook {
    background-position-x: -20px; }
  .fa-twitter {
    background-position-x: -40px; }
  .fa-telegram {
    background-position-x: -80px; }
  .fa-reddit {
    background-position-x: -60px; }
  .fa-email {
    background-position-x: 0px; }

.invite-custom-url {
  max-width: 100%;
  font-size: 1rem;
  color: #999999;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }
  @media (max-width: 575px) {
    .invite-custom-url {
      text-align: center; } }

.modal-full {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .modal-full .modal-dialog {
    width: 100%;
    max-width: none;
    margin: 0; }
  .modal-full .modal-content {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    min-height: 100vh;
    background: #f0f6fb; }
    .modal-full .modal-content__green {
      background: #4cb166; }
  .modal-full .modal-header {
    padding: 2.5rem 3vw;
    border: none; }
    @media (max-width: 767px) {
      .modal-full .modal-header {
        padding: 15px; } }
  .modal-full .modal-body {
    padding: 1rem; }
  .modal-full_close {
    width: 24px;
    height: 24px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyIDMyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjgsMTZMMzEuNiwyLjJjMC41LTAuNSwwLjUtMS4zLDAtMS44Yy0wLjUtMC41LTEuMy0wLjUtMS44LDBMMTYsMTQuMkwyLjIsMC40Yy0wLjUtMC41LTEuMy0wLjUtMS44LDBjLTAuNSwwLjUtMC41LDEuMywwLDEuOEwxNC4yLDE2TDAuNCwyOS44Yy0wLjUsMC41LTAuNSwxLjMsMCwxLjhDMC42LDMxLjksMSwzMiwxLjMsMzJjMC4zLDAsMC43LTAuMSwwLjktMC40TDE2LDE3LjhsMTMuOCwxMy44YzAuMywwLjMsMC42LDAuNCwwLjksMC40YzAuMywwLDAuNy0wLjEsMC45LTAuNGMwLjUtMC41LDAuNS0xLjMsMC0xLjhMMTcuOCwxNnoiLz48L3N2Zz4=);
    -webkit-background-size: contain;
    background-size: contain;
    margin: 0;
    padding: 0;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .modal-full_close:hover {
      opacity: .5;
      cursor: pointer; }

.modal-text {
  font-size: 1.125rem;
  line-height: 1.5; }
  @media (max-width: 575px) {
    .modal-text {
      font-weight: 400;
      font-size: .875rem; } }
  .modal-text__large {
    font-size: 1.25rem; }
    @media (max-width: 575px) {
      .modal-text__large {
        font-size: 1rem; } }

/* presale */
.bg-green {
  background: #4cb166; }

.presale-column {
  max-width: 520px;
  margin-top: 6rem; }
  @media (min-width: 768px) and (max-width: 991px) {
    .presale-column {
      max-width: none;
      margin-top: 0; } }
  @media (max-width: 767px) {
    .presale-column {
      max-width: none;
      margin-top: 0; } }

.presale-title {
  font-family: "RobotoSlab", sans-serif;
  font-size: 5vw;
  line-height: 1;
  max-width: 50%; }
  @media (min-width: 768px) and (max-width: 991px) {
    .presale-title {
      max-width: 75%;
      font-size: 7vw; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .presale-title {
      max-width: 75%;
      font-size: 8vw; } }
  @media (max-width: 575px) {
    .presale-title {
      max-width: 100%;
      font-size: 15vw; } }

.img-panda-win {
  max-width: 650px;
  margin-top: -8vw; }
  @media (max-width: 575px) {
    .img-panda-win {
      margin-top: -2.5rem; } }

.b-win-text {
  max-width: 480px; }

.presale-text {
  font-size: 1.125rem;
  color: #000000; }
  @media (max-width: 575px) {
    .presale-text {
      font-size: 1rem; } }
  .presale-text__l {
    font-size: 1.5rem; }
    @media (max-width: 575px) {
      .presale-text__l {
        font-size: 1.25rem; } }

.gen-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .gen-title_start {
    font-family: "RobotoSlab", sans-serif;
    font-size: 3rem;
    margin-right: 1rem; }
    @media (max-width: 575px) {
      .gen-title_start {
        font-size: 11vw;
        margin-right: 4vw; } }
  .gen-title_x5 {
    font-size: 3rem;
    font-weight: 900;
    color: #e75200;
    margin-right: 1rem; }
    @media (max-width: 575px) {
      .gen-title_x5 {
        font-size: 2rem;
        margin-right: 4vw; } }
  .gen-title_more {
    color: #0d8d62;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700; }
    @media (max-width: 575px) {
      .gen-title_more {
        font-size: 1rem; } }
    .gen-title_more span {
      display: block;
      font-size: .875rem;
      font-weight: 400; }
      @media (max-width: 575px) {
        .gen-title_more span {
          font-size: .75rem; } }

.price-ethereum {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "RobotoSlab", sans-serif;
  font-size: 2.25rem; }
  @media (max-width: 575px) {
    .price-ethereum {
      font-size: 1.75rem; } }
  .price-ethereum:before {
    width: 20px;
    height: 26px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDI2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjQiLz48cmVjdCB5PSIyMiIgd2lkdGg9IjIwIiBoZWlnaHQ9IjQiLz48cmVjdCB4PSIyIiB5PSIxMSIgd2lkdGg9IjE2IiBoZWlnaHQ9IjQiLz48L3N2Zz4=);
    margin-right: .875rem;
    content: ""; }
    @media (max-width: 575px) {
      .price-ethereum:before {
        width: 15px;
        height: 20px; } }
  .price-ethereum_eth {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-left: 1rem; }

.input-plus-minus {
  position: relative; }
  .input-plus-minus input[type='text'] {
    width: 7rem;
    height: 2.5rem;
    -webkit-border-radius: 1.25rem;
    border-radius: 1.25rem;
    border: 1px solid #cccccc;
    font-size: 1rem;
    text-align: center;
    font-weight: 700; }
    @media (max-width: 575px) {
      .input-plus-minus input[type='text'] {
        width: 6rem; } }
  .input-plus-minus .input-button {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    border: none;
    background: transparent;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 700;
    line-height: 1; }
    .input-plus-minus .input-button.input-minus {
      left: 0; }
    .input-plus-minus .input-button.input-plus {
      right: 0; }
    .input-plus-minus .input-button:hover {
      cursor: pointer;
      color: #e75200; }

.b-progres {
  padding: 2rem 1.5rem; }
  @media (min-width: 768px) and (max-width: 991px) {
    .b-progres {
      padding: 2rem 2.5rem;
      background: #4cb166;
      margin-left: -15px;
      margin-right: -15px; } }
  @media (max-width: 767px) {
    .b-progres {
      padding: 2rem 2.5rem;
      background: #4cb166;
      margin-left: -15px;
      margin-right: -15px; } }
  @media (max-width: 575px) {
    .b-progres {
      padding: 1.5rem 1rem; } }

.progres-bar {
  display: block;
  width: 75%;
  height: 8px;
  background: #daeaf2;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden; }
  @media (min-width: 768px) and (max-width: 991px) {
    .progres-bar {
      background: #0d8d62; } }
  @media (max-width: 767px) {
    .progres-bar {
      background: #0d8d62; } }
  .progres-bar_val {
    min-width: 3%;
    background: #63ba88;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .progres-bar_val {
        background: #ffffff; } }
    @media (max-width: 767px) {
      .progres-bar_val {
        background: #ffffff; } }

.pandas-point {
  font-family: "RobotoSlab", sans-serif;
  font-size: 2rem;
  color: #0d8d62;
  line-height: 1; }
  @media (min-width: 768px) and (max-width: 991px) {
    .pandas-point {
      color: #fceea1; } }
  @media (max-width: 767px) {
    .pandas-point {
      color: #fceea1; } }

.progres-text {
  margin-top: .75rem;
  color: #424649; }
  @media (min-width: 768px) and (max-width: 991px) {
    .progres-text {
      color: #ffffff; } }
  @media (max-width: 767px) {
    .progres-text {
      color: #ffffff; } }

.discount-offer {
  font-family: "RobotoSlab", sans-serif;
  font-size: 4vw;
  color: #fceea1;
  line-height: 1.25; }
  @media (min-width: 768px) and (max-width: 991px) {
    .discount-offer {
      font-size: 6vw; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .discount-offer {
      font-size: 8vw; } }
  @media (max-width: 575px) {
    .discount-offer {
      font-size: 10vw; } }
  .discount-offer span {
    display: block;
    font-size: 0.27em;
    margin-top: -.25rem; }

.pl-right-wrap {
  padding-left: 8vw; }
  @media (max-width: 575px) {
    .pl-right-wrap {
      padding-left: 15px; } }

.presale-panda {
  width: 25vw;
  position: absolute;
  top: 50%;
  right: 6vw;
  margin-top: -11vw;
  z-index: 3; }
  @media (min-width: 576px) and (max-width: 767px) {
    .presale-panda {
      width: 40vw;
      margin-top: -17vw; } }
  @media (max-width: 575px) {
    .presale-panda {
      width: 50vw;
      top: auto;
      bottom: -20px;
      margin-top: 0;
      right: 15px; } }

.presale-panda-modal {
  max-width: 400px; }

.so-much {
  display: block;
  font-family: "VampiroOne", sans-serif;
  font-size: 2.5rem;
  color: #0d8d62; }
