@charset "UTF-8";

/*-- respond --*/

$title-font: "RobotoSlab", sans-serif;
$base-font: "OpenSans", sans-serif;
$add-font: "VampiroOne", sans-serif;

$brand-color: #0d8d62;
$plus-color: #63ba88;
$disable-color: #b3b3b3;
$silver-color: #cccccc;
$gray-color: #999999;
$progresbar-bg: #daeaf2;
$light-color: #f0f6fb;
$text-color: #424649;
$mark-color: #fceea1;

$error-color: #ff5533;

$btn-color-form: #ffc000;
$btn-color-to: #ffa800;
$dark-color: #630a3e;

$black-color: #000000;
$white-color: #ffffff;

$link-color: #5b5b5b;
$link-hover-color: #e75200;

$screen-ex: 360px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1500px;
$screen-sl: 1920px;

$screen-ss-max: ($screen-ex - 1);
$screen-ex-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-xl - 1);
$screen-xl-max: ($screen-xxl - 1);
$screen-xxl-max: ($screen-sl - 1);

@mixin respond($media) {
    @if $media == ex {
		@media (max-width: $screen-ex-max) { @content }
	}
    @else if $media == ss {
		@media (max-width: $screen-ss-max) { @content }
	}
    @else if $media == sm {
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { @content }
	}
	@else if $media == md {
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { @content }
	}
	@else if $media == lg {
		@media (min-width: $screen-lg) and (max-width: $screen-lg-max) { @content }
	}
	@else if $media == xl {
		@media (min-width: $screen-xl) and (max-width: $screen-xl-max) { @content }
	}
	@else if $media == xxl {
		@media (min-width: $screen-xxl) and (max-width: $screen-xxl-max) { @content }
	}
    @else if $media == sl {
		@media (min-width: $screen-sl) { @content }
	}
    @else if $media == min-sm {
		@media (min-width: $screen-sm) { @content }
	}
    @else if $media == min-md {
		@media (min-width: $screen-md) { @content }
	}
    @else if $media == min-lg {
		@media (min-width: $screen-lg) { @content }
	}
    @else if $media == min-xl {
		@media (min-width: $screen-xl) { @content }
	}
    @else if $media == max-md {
		@media (max-width: $screen-md-max) { @content }
	}
    @else if $media == max-lg {
		@media (max-width: $screen-lg-max) { @content }
	}
    @else if $media == mobile {
		@media (max-width: $screen-sm-max) { @content }
	}
}

@mixin retina() { @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content } }

/*-- respond end --*/

* { outline: none; }
html { font-size: 16px; }
body { 
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    font-family: $base-font;
    line-height: 1.4;
    color: $black-color;
}
a { &, &:hover, &:focus, &:active { color: inherit; text-decoration: none; } }
.wrap-100 { min-height: 100vh; }
.container-max { max-width: 1140px; margin-left: auto; margin-right: auto; }
.text-semibold { font-weight: 600 }
.wrap-body { flex: 1 1 auto }
.mb-4-plus { margin-bottom: 2rem }
.z-3 { z-index: 3; }
.prl { position: relative; }
.link {
    color: $link-color;
    &:hover {
        color: $link-hover-color;
    }
}

.fz {
    &-1 { font-size: 3rem; }
    &-2 { font-size: 2.25; }
    &-3 { font-size: 1.5rem; }
    &-4 { font-size: 1.25rem; }
    &-5 { font-size: 1.125rem; }
    &-6 { font-size: .875rem; }
}

.load-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white-color;
    &__transparent { background: rgba(255,255,255,.95); }
    &_massage {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &:before {
            width: 190px;
            height: 190px;
            background: url('../img/load.gif'), url('../img/panda-load.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 190px;
            margin-bottom: 1rem;
            content: "";
        }
        &__error { color: $error-color; }
    }
    z-index: 9999;    
}

.tooltip {
    &-inner {
        display: inline-flex;
        align-items: center;
        padding: 0 1rem;
        height: 2rem;
        max-width: 320px;
        background: $silver-color;
        border-radius: 1rem;
        line-height: 1;
    }
    &.bs-tooltip-top .arrow::before { border-top-color: $silver-color }
    &.bs-tooltip-bottom .arrow::before { border-bottom-color: $silver-color }
    &.show { opacity: 1; }
    &.error &-inner { background: $error-color }
    &.error.bs-tooltip-top .arrow::before { border-top-color: $error-color }
    &.error.bs-tooltip-bottom .arrow::before { border-bottom-color: $error-color }
}

/* prelunch */

.btn {
    display: inline-flex;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    font-family: $title-font;
    font-size: 1.5rem;
    border: none;
    line-height: 1;
    border-radius: 50px; 
    @include respond(ex) { & { font-size: 1.25rem } }
    &:hover { cursor: pointer; }
    &:focus, &:active { outline: none; box-shadow: none; }
    &-pandopt { 
        &, &:active {
            background: linear-gradient(to right, $btn-color-form 0%, $btn-color-to 100%)!important;
            color: $dark-color;
            box-shadow: 0 .75rem 2rem rgba(255,168,0,.3);
        }
        transition: all .1s ease-out;        
        &:hover { background: linear-gradient(to right, $btn-color-form 0%, $btn-color-form 100%); box-shadow: 0 0rem 1.5rem rgba(255,168,0,.5); }
        @include respond(ex) {
            height: 3rem;
        }
        &:disabled {
            background: #cccccc!important;
            color: #fff;
            box-shadow: none;
        }
    }
    &-copy {
        height: 3rem;
        border: 1px solid $silver-color;
        font-size: 1.25rem;
        transition: all .1s ease-out;        
        &:hover { border-color: $disable-color; color: $brand-color; }
        &:active { color: $disable-color; }
    }
}


.navbar {
    padding: 2.5rem 3vw 0;
    @include respond(mobile) { 
        padding: 15px;
        position: relative;
    }
    &-toggler {
        width: 48px;
        height: 48px;
        position: relative;
        border: none;
        outline: none;
        &,&:focus { outline: none; }
        &:before, &:after {
            width: 70%;
            height: 2px;
            background: $gray-color;
            content: "";
            position: absolute;
            top: 50%;
            left: 15%;
            content: "";
            border-radius: 2px;
        }
        &:before { margin-top: -7px; }
        &:after { margin-top: 7px; }
    }
    @include respond(mobile) {
        &-nav {
            margin-top: 1rem;
            padding-top: 1rem;
            border-top: 1px solid $light-color;
            align-items: center;
        }
    }
    &-presale {
        @include respond(md) { position: relative; padding: 2.5rem 3vw; }   
    }
}

.navbar-brand {
    width: 260px;
    height: 60px;    
    background: url('../img/logo.svg');
    background-size: 260px 60px;
    @include respond(ex) {
        height: 40px;
        background-size: 174px 40px;
        width: 60px;
        &__full-mobile {
            width: 174px;
        }
    }
}

.nav-link {
    display: inline-flex;
    align-items: center;
    height: 3rem;
    padding: 0 1rem!important;
    margin: 0 .25rem;
    @include respond(mobile) { margin: .25rem; }
    font-family: $title-font;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1;
    border: 1px solid $silver-color;
    border-radius: 1.5rem;
    transition: all .2s ease-out;    
    &:hover { border-color: $gray-color }
    &:active { color: $disable-color }
}


/* select paper bamboo */

.dropdown-paper {    
    .dropdown-menu {
        width: 100%;
        border: none;
        padding: .5rem 1rem 1.5rem;
        margin-top: 0;
        box-shadow: 0 6px 20px rgba(24, 0, 67, 0.1);
        border-radius: 0 0 1.5rem 1.5rem;        
    }
    .dropdown-item {
        padding: .375rem .25rem;
        font-size: .875rem;
        &:before {
            display: inline-block;
            width: 27px;
            height: 18px;
            margin-right: 1rem;
            background: #ccc;
            content: "";
            vertical-align: middle;            
        }
        &.britain-flag:before { background: url('../img/britain-flag.svg'); }
        &.china-flag:before { background: url('../img/china-flag.svg'); }
        &.japan-flag:before { background: url('../img/japan-flag.svg'); }
        &.korea-flag:before { background: url('../img/korea-flag.svg'); }
        &.russia-flag:before { background: url('../img/russia-flag.svg'); }
        &.active { 
            color: #000;
            font-weight: 600;
        }
        &.active, &:active, &:hover {
            background: transparent;
        }
        &:not(.active):hover { color: #666666 }
    }
    .choose-language {
        display: block;
        width: 100%;
        margin: .75rem 0 0;
        font-size: .75rem;
        color: #b3b3b3;
        text-align: center;
    }
}
.btn-paper {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 3rem;
    padding: 0 .75rem;
    font-family: $title-font;
    color: #65af71;
    background: transparent;
    border: 1px solid #65af71;
    border-radius: 1.5rem;
    &:focus { outline: none; }
    &:hover { cursor: pointer; }
    &:before {
        display: block;
        width: 16px;
        height: 20px;
        background: url('../img/bamboo-paper.svg') left;
        background-size: 32px 20px;
        content: "";
    }
    &:after {
        display: block;
        width: 8px;
        height: 6px;
        background: url('../img/dropdown-paper.svg') left;
        background-size: 16px 6px;
        content: "";
    }
    &[aria-expanded="true"] {
        border-radius: 1.5rem 1.5rem  0 0; 
        border-color: transparent;
        box-shadow: 0 6px 20px rgba(24, 0, 67, 0.1);
        color: #000;
        &:after, &:before {
            background-position: right;
        }
    }
}


/* discord label */
.discord-widget {
    display: block;
    width: 3rem;
    height: 3rem;
    background: #fff;
    border-radius: 1.5rem;
    position: relative;
    &:hover { background: #f2f2f2; cursor: pointer; }
    @include respond(mobile) {
        position: fixed;
        left: 1rem;
        bottom: 1.5rem;
        z-index: 5;
    }
    &:before {
        width: 1.75rem;
        height: 1.25rem;
        margin-top: -.625rem;
        margin-left: -.875rem;
        background-image: url('../img/discord-logo.svg');
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
    }
    &:after {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 10px solid #fafafa;
        border-radius: 100%;
        content: "";
        z-index: -1;
        animation: flashing .8s infinite ease-in-out;
    }
}

@keyframes flashing {
    from { transform: scale(1); }
    to { transform: scale(1.25); border: 1px solid #f2f2f2; }
}


.container-bamboo {
    position: relative;
    &:before, &:after {
        background: url('../img/bamboo.svg') top right;
        position: absolute;
        content: "";      
        z-index: -1;
    }
    &:before {
        width: 200px;
        height: 420px;
        background-size: 280px 420px!important;
        top: 0;
        right: 0;
        transform: scale(-1,1);
        @include respond(ex) {
            width: 40vw;
            height: 65vw;
            background-size: 60vw;
            top: -10vw;
        }
    }
    &:after {
        width: 240px;
        height: 360px;
        background-size: 320px 480px!important;
        bottom: 0;
        left: 0;
        @include respond(max-lg) { display: none }
    }
    &__dark {
        &:before, &:after {
            background: url('../img/bamboo-dark.svg') top right; 
            z-index: 1;
        }
        &:before { @include respond(md) { display: none!important } @include respond(mobile) { display: none!important } }
    }
}


.prelunch-bamboo {
    position: relative;
    &:before, &:after {
        background: url('../img/bamboo.svg') top right;
        position: absolute;
        content: "";      
        z-index: -1;
    }
    &:before {
        width: 262px;
        height: 160px;
        background: url('../img/prelunch-bamboo-top.svg');
        top: 0;
        left: 33%;
        @include respond(md) { left: 360px; }
        @include respond(mobile) { display: none; }
    }
    &:after {
        width: 160px;
        height: 262px;
        background: url('../img/prelunch-bamboo-right.svg');
        bottom: 20%;
        right: 0;
        @include respond(md) { left: 0; right: auto; transform: scale(-1,1); }
        @include respond(sm) { bottom: 2rem; }
        @include respond(ex) { display: none }
    }
}

.prelunch-title { 
    font-family: $title-font;
    font-weight: 700;
    line-height: 1;
    &__h1 {
        font-size: 6rem;
        @include respond(md) { & { font-size: 10vw; } }        
        @include respond(sm) { & { font-size: 10vw; } }
        @include respond(ex) { & { font-size: 15vw; margin-bottom: 0; } }
    }
    &__h2 {
        font-size: 4rem;
        @include respond(md) { & { font-size: 6vw; } }        
        @include respond(sm) { & { font-size: 6vw; } }
        @include respond(ex) { & { font-size: 10vw; } }
    }
    &__h3 {
        font-size: 2.5rem;
        @include respond(mobile) { & { font-size: 9vw; } }
        @include respond(sm) { & { font-size: 2rem; } }
    }
}

.color-white { color: $white-color; }

.after-title {
    display: block;
    font-family: $add-font;
    font-size: 3.2vw;
    color: $brand-color;
    margin-top: .5rem;
    position: relative;
    z-index: 4;
    @include respond(md) { font-size: 5vw; }
    @include respond(sm) { font-size: 6vw; }
    @include respond(ex) { font-size: 10vw; }
}

.prelunch-subtitle {
    color: $brand-color;
    font-size: 1.25rem;
    text-transform: uppercase; 
    font-weight: 600;
    @include respond(ex) { font-size: 1rem; }
}

.prelunch-text { 
    font-size: 1.25rem;
    @include respond(ex) { & { font-size: 1rem } }
    &__small {
        font-size: 1.125rem;
        @include respond(ex) { & { font-size: 1rem } }
    }
}


/* prelunch */
.b-become-founder {
    width: 360px;
    max-width: 360px;
    margin-right: 5vw;
    @include respond(mobile) {
        width: 100%;
        max-width: none;
        margin-right: 0;
        text-align: center;
    }
}
.founder-title {
    font-family: $title-font;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    @include respond(ex) { font-size: 10vw; }
    @include respond(ss) { font-size: 12vw; }
}
.founder-text {
    font-size: 1.25rem;
    @include respond(ex) { font-size: 1.125rem; }
    &__sm {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        @include respond(ex) { font-size: .875rem; }
    }
}
.subscribers {
    padding: .875rem 0;
    font-size: .875rem;
    color: #999999;
}


.form {
    &-input {
        height: 4rem;
        padding: 0 2rem;
        background: transparent;
        font-size: 1rem;
        color: $black-color;
        border: 1px solid $silver-color;
        border-radius: 2rem;
        margin-left: -.25rem;
        &::-webkit-input-placeholder { color: $disable-color; text-overflow: ellipsis; }
        @include respond(ex) { 
            height: 3rem;
        }
        &__small { 
            border: none;
            padding: 1rem 0;
            font-size: 1.25rem;
            border-bottom: 1px solid $silver-color;
            border-radius: 0;
            @include respond(ex) { 
                width: 100%;
                font-size: 1rem;
            }
        }
    }
    &-row {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin: 0;
    }
    &-row &-input { flex-grow: 1; }
    &-val {
        min-width: 120px;
        font-size: 1.125rem;
        padding-right: 1.5rem;
        @include respond(ex) {
            min-width: 110px;
            font-size: 1rem;
            padding-right: 1rem;
        }
    }
    &-alert {
        min-height: 32px;
        padding-top: .75rem;
        margin-bottom: -.5rem;
        @include respond(ex) { font-size: .875rem; }
        &__error { color: $error-color; }
    }
} 


.panda-card-model {
    display: flex;
    flex-flow: row;
    max-width: 650px;
    border-radius: .75rem;
    border-bottom: 4px solid #f0f4f7;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(24, 0, 67, 0.12);
    transition: all .2s ease-out;
    flex: 1 1 auto;
    @include respond(mobile) { margin: auto; }
    @include respond(ex) {
        width: 100%;
        flex-flow: column;
        max-width: 360px;
    }
}

.gen-x {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    text-align: center;
    position: relative;
    margin-right: auto;
    flex: 1 1 auto;
    @include respond(ex) { margin-right: 0; padding-bottom: 0; }
    &_panda {
        width: 100%;
        max-width: 260px;
        @include respond(ex) { max-width: none; }
        canvas {
            min-height: 150px;
            @include respond(min-lg) { min-height: 180px; }
            max-height: 260px;
            @include respond(md) { min-height: 180px; max-height: 180px; }
            @include respond(lg) { min-height: 170px; max-height: 170px; }
            @include respond(ex) { min-height: 220px; }
        }
    }
    &_name {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        line-height: 1;
    }
    &_founder {
        font-size: .8125rem;
        color: #6e6f85;
        line-height: 1.1;
    }
    &_quantity {
        padding: 0 1rem;
        margin-top: 1.5rem;
        font-size: 1.125rem;
        font-weight: 600;
        @include respond(mobile) { font-size: 1rem; }
        @include respond(ex) { margin-top: 1rem; }
    }
    &_score {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        padding: 0 1.125rem;
        border-radius: 1rem;
        background: #9ab4d8;
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1rem;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        &:before {
            display: block;
            width: 20px;
            height: 20px;
            margin-right: .5rem;
            background: url('../img/gen.svg');
            content: "";
        }
    }
    &_bg {
        width: 100%;
        padding-top: 100%;
        &:before {
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            position: absolute;
            top: 0;
            left: 0;
            content: "";
        }        
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}


.attributes-title {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
.panda-attributes {
    flex-grow: 1;
    padding: 3vw;
    background: #fff;
    @include respond(min-lg) { padding: 2rem; }
    @include respond(ex) { padding: 1.5rem; }
    @include respond(ss) { padding: 10vw; }
    &_wrap {
        --size-gap: 1.25rem .75rem;
        --num-columns: 3;
        display: grid;
        grid-gap: var(--size-gap);
        grid-template-columns: repeat(var(--num-columns),1fr);
        @include respond(md) { --num-columns: 2; --size-gap: 1rem 1.5rem; }
        @include respond(sm) { --size-gap: 1rem; }
        @include respond(ex) { --size-gap: 1rem; }
        @include respond(ss) { --num-columns: 2; --size-gap: 1rem 1.5rem; }
    }
    &_item {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    &_type {
        margin-bottom: .5rem;
        font-size: .8125rem;
        font-weight: 600;
    }
    &_number {
        display: flex;
        flex-direction: row;
        font-size: .75rem;
        color: #808080;
        text-align: center;
        line-height: .85;
        & > span {
            display: flex;
            width: auto;
            height: 1.5rem;
            margin: 0 .25rem;
            @include respond(ex) {
                font-size: 0.6875rem;
            }
            border-radius: .75rem;
            align-items: center;
            justify-content: center;
        }
        .active {
            padding: 0 .25rem;
            margin: 0 .125rem;
            background: #e9eef2;
        }
    }    
}


/* road-map */

.road-map {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 4rem 8rem 4rem 3rem;
    border-top: 1px dashed #e6e6e6;
    @include respond(mobile) {
        flex-direction: column;
        padding: 2rem 5vw 3rem;
    }
    &_title {    
        padding-right: 2rem;
        font-size: 1.25rem;
        color: #3da171;
        text-transform: uppercase;
        font-weight: 700;
        @include respond(mobile) { padding-right: 0; margin-bottom: 1.25rem; }
    }
    &-line {
        display: flex;
        height: 16px;
        @include respond(mobile) {
            width: 16px;
            height: auto;
        }
        position: relative;
        flex-grow: 1;
    }
    &_body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-grow: 1;
        height: 100%;
        @include respond(mobile) {
            flex-direction: column;
        }
        position: relative;
        &:before {
            width: 100%;
            height: 1rem;
            @include respond(mobile) {
                height: 100%;
                width: 1rem;
            }
            background: #e5e5e5;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: .5rem;
            content: "";
        }
    }
    &_point {
        width: 20px;
        height: 20px;
        margin: -.125rem 0;
        @include respond(mobile) {
            margin: 1rem -.125rem;
            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }
        }
        border: 4px solid #e5e5e5;
        background: #fff;
        border-radius: 10px;
        position: relative;
        z-index: 2;
        &:before {
            width: 6px;
            height: 6px;
            margin-top: -3px;
            margin-left: -3px;
            background: #e5e5e5;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            content: "";            
        }
        &.checked {
            border-color: #3da171;
            &:before { background: #3da171; }
        }
    }
    &_stage {
        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        font-size: .9125rem;
        color: #4d4d4d;
        text-align: center;
        transform: translate(-50%,0);
        @include respond(mobile) {
            top: 0;
            left: 2rem;
            bottom: auto;
            transform: translate(0,-50%);
            margin-top: .375rem;
        }
    }
    &_date {
        position: absolute;
        top: 1.5rem;
        left: 50%;
        font-size: .8125rem;
        color: #999999;
        text-align: center;
        line-height: 1.375;
        transform: translate(-50%,0);
        @include respond(md) { span { display: block; } }
        @include respond(mobile) {
            top: 0;
            right: 2rem;
            left: auto;
            bottom: auto;
            transform: translate(0,-50%);
            margin-top: .375rem;
            text-align: right;
            span { display: inline-block; }
        }
    }
    &_stage, &_date { white-space: nowrap }    
    @include respond(min-md) {
        &_point:first-child &_stage, &_point:first-child &_date {
            left: 0;
            transform: translate(0);
            text-align: left;
        }
        &_point:last-child &_stage, &_point:last-child &_date {
            left: auto; right: 0;
            text-align: right;
            transform: translate(0);    
        }
    }    
    &_point.checked &_stage {
        color: #000;
        font-weight: 700;
    }
    &_progress {
        &__vw {
            width: 20%;
            height: 100%;
            background: linear-gradient(to left, #87bb71 0%, #3fa271 100%);
            @include respond(mobile) { display: none; }
        }
        &__vh {
            display: none;
            @include respond(mobile) { display: block; }
            width: 100%;
            height: 20%;
            background: linear-gradient(to top, #87bb71 0%, #3fa271 100%);    
        }    
        position: absolute;        
        top: 0;
        left: 0;
        border-radius: .5rem;
        z-index: 1;
    }
}



/* invite page */

.invite-bg {
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #f0f6fb 50%, #f0f6fb 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 50%,#f0f6fb 50%,#f0f6fb 100%);
    background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#f0f6fb 50%,#f0f6fb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f6fb',GradientType=1 ); 
    @include respond(mobile) { 
        & { background: transparent; }
        &__col { background: $light-color; }
    }    
}

.invite-grid {
    padding: 0 9vw;
    @include respond(lg) { & { padding: 0 8vw; } }
    @include respond(md) { & { padding: 0 6vw; } }
    @include respond(sm) { & { padding: 0 4vw; } }
    @include respond(ex) { & { padding: 0 15px; } }
}

.invite-progres-bar {
    display: block;
    width: 100%;
    height: 8px;
    background: $progresbar-bg;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    &_val {
        background: $plus-color;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border-radius: 4px;
    }
}

.table-invite {
    font-size: 1rem;
    th { font-weight: normal; }
    tbody > tr > * { border: none; }
    th, td { padding: .5rem; }
    thead th { 
        padding: 1rem .5rem;
        border: none; 
        border-bottom: 1px solid $silver-color;
        margin-bottom: 1rem;
        font-size: .875rem;
    }
    tbody > tr:first-child > * { padding-top: 1rem; }
    tbody td.td-date { font-weight: 600; }
}

.invite-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include respond(mobile) {  justify-content: center; }
    &_item {
        padding: .75rem;
        font-size: 1rem;
        font-weight: 600;
        position: relative;
        &:hover { cursor: pointer; }
        &__next:before {            
            width: 1px;
            height: 50%;
            background: $silver-color;
            position: absolute;
            top: 25; left: 0;
            content: "";
        }
        &:after {            
            width: 10px;
            height: 16px;
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMTYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDE2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTAuOCw5LjFsNi4zLDYuM2MwLjMsMC4zLDAuNywwLjQsMS4xLDAuNGMwLjQsMCwwLjgtMC4xLDEuMS0wLjRjMC42LTAuNiwwLjYtMS41LDAtMi4xTDQsOGw1LjItNS4yYzAuNi0wLjYsMC42LTEuNSwwLTIuMWMtMC42LTAuNi0xLjUtMC42LTIuMSwwTDAuOCw2LjlDMC4yLDcuNSwwLjIsOC41LDAuOCw5LjF6Ii8+PHBhdGggZD0iTTE5LjIsNi45bC02LjMtNi4zYy0wLjYtMC42LTEuNS0wLjYtMi4xLDBjLTAuNiwwLjYtMC42LDEuNSwwLDIuMUwxNiw4bC01LjIsNS4yYy0wLjYsMC42LTAuNiwxLjUsMCwyLjFjMC4zLDAuMywwLjcsMC40LDEuMSwwLjRjMC40LDAsMC44LTAuMSwxLjEtMC40bDYuMy02LjNDMTkuOCw4LjUsMTkuOCw3LjUsMTkuMiw2Ljl6Ii8+PC9zdmc+);
            background-size: 20px 16px;
            position: absolute;
            top: 50%; 
            margin-top: -8px;
            content: "";
            transition: all .3s ease-out;
            &:hover { transition: all .1s ease-out; }
        }
        &__prev {
            padding-left: 1.25rem;
            &:after { background-position: left; left: 0; }
            &:hover:after { left: -2px; }
        }
        &__next {
            padding-right: 1.25rem;
            &:after { background-position: right; right: 0; }
            &:hover:after { right: -2px; }
        }
         &__disabled { 
             & ,&:hover { cursor: default }
             color: $disable-color;
             &:after { display: none; }
        }
    }
    
}

.invite-status {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 3px solid $silver-color;
    margin: 0px auto;
    &__active {
        background: $plus-color;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTYgMTY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojRkZGRkZGO308L3N0eWxlPjxnPjxnPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0zLjYsNi4xbDIuNywyLjdsNi02TDE0LjUsNWwtNiw2bC0yLjEsMi4xTDQuMywxMUwxLjUsOC4zTDMuNiw2LjF6Ii8+PC9nPjwvZz48L3N2Zz4=);
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }
}

.invite-count {
    padding-left: .75rem;
    font-size: 1.125rem;
    font-weight: 600;
    &_active { color: $plus-color;
        &:after {
            color: $silver-color;
            padding: 0 .25rem;
            content: "/";
        }
    }
}

.jssocials {
    margin-top: -.375rem;
    margin-bottom: -.375rem; 
    &-shares { 
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        * { box-sizing: border-box; }
        @include respond(ex) { & { justify-content: center; } }
    }    
    &-share {
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        border: 1px solid;
        margin: .375rem;        
        position: relative;
        transition: all .2s ease-out;
        &-logo {
            display: block;
            width: 20px;
            height: 20px;
            margin: 13px;
        }
        &-facebook {
            background: #3a559f;
            border-color: #3a559f;
        }
        &-twitter {
            background: #23aae1;
            border-color: #23aae1;
        }
        &-telegram {
            background: #139bd0;
            border-color: #139bd0;
        }
        &-reddit {
            background: #ff3f18;
            border-color: #ff3f18;
        }
        &-email {
            border-color: $silver-color;
        }
        &:hover { background: $white-color; cursor: pointer; }
        &:hover .fa { background-position-y: bottom; }
    }
}

.fa {
    background: url('../img/share.svg');
    background-size: 100px 40px;
    &-facebook { background-position-x: -20px; }
    &-twitter { background-position-x: -40px; }
    &-telegram { background-position-x: -80px; }
    &-reddit { background-position-x: -60px; }
    &-email { background-position-x: 0px; }
}

.invite-custom-url {
    max-width: 100%;
    font-size: 1rem;
    color: $gray-color;
    @include respond(ex) { & { text-align: center; } }
    overflow: hidden;
    text-overflow: ellipsis; 
}


.modal-full {
    align-items: stretch;
    justify-content: center;
    .modal-dialog {
        width: 100%;
        max-width: none;
        margin: 0;        
    }
    .modal-content {
        border: none;
        border-radius: 0;
        min-height: 100vh;
        background: $light-color;
        &__green { background: #4cb166; }
    }
    .modal-header { 
        padding: 2.5rem 3vw;
        border: none;
        @include respond(mobile) {
            padding: 15px;
        }
    }
    .modal-body { padding: 1rem; }
    &_close {
        width: 24px;
        height: 24px;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyIDMyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjgsMTZMMzEuNiwyLjJjMC41LTAuNSwwLjUtMS4zLDAtMS44Yy0wLjUtMC41LTEuMy0wLjUtMS44LDBMMTYsMTQuMkwyLjIsMC40Yy0wLjUtMC41LTEuMy0wLjUtMS44LDBjLTAuNSwwLjUtMC41LDEuMywwLDEuOEwxNC4yLDE2TDAuNCwyOS44Yy0wLjUsMC41LTAuNSwxLjMsMCwxLjhDMC42LDMxLjksMSwzMiwxLjMsMzJjMC4zLDAsMC43LTAuMSwwLjktMC40TDE2LDE3LjhsMTMuOCwxMy44YzAuMywwLjMsMC42LDAuNCwwLjksMC40YzAuMywwLDAuNy0wLjEsMC45LTAuNGMwLjUtMC41LDAuNS0xLjMsMC0xLjhMMTcuOCwxNnoiLz48L3N2Zz4=);
        background-size: contain;
        margin: 0;
        padding: 0;
        transition: all .2s ease-out;
        &:hover {
            opacity: .5;
            cursor: pointer;
        }
    }
}

.modal-text {
    font-size: 1.125rem;
    line-height: 1.5;
    @include respond(ex) { font-weight: 400; font-size: .875rem; }
    &__large {
        font-size: 1.25rem;
        @include respond(ex) { font-size: 1rem; }
    }
}




/* presale */
.bg-green { background: #4cb166; }
.presale-column { 
    max-width: 520px;
    margin-top: 6rem;
    @include respond(md) { max-width: none; margin-top: 0; }
    @include respond(mobile) { max-width: none; margin-top: 0; }
}
.presale-title {
    font-family: $title-font;
    font-size: 5vw;
    line-height: 1;
    max-width: 50%;
    @include respond(md) { 
        max-width: 75%;
        font-size: 7vw;
    }
    @include respond(sm) { 
        max-width: 75%;
        font-size: 8vw;
    }
    @include respond(ex) { 
        max-width: 100%;
        font-size: 15vw;
    }
}
.img-panda-win { 
    max-width: 650px;
    margin-top: -8vw;
    @include respond(ex) { margin-top: -2.5rem; }
}
.b-win-text { max-width: 480px; }

.presale-text { 
    font-size: 1.125rem;
    color: $black-color;
    @include respond(ex) { font-size: 1rem; }
    &__l { 
        font-size: 1.5rem;
        @include respond(ex) { font-size: 1.25rem; }
    }
}

.gen-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    &_start {
        font-family: $title-font;
        font-size: 3rem;
        margin-right: 1rem;
        @include respond(ex) { font-size: 11vw; margin-right: 4vw; }        
    }
    &_x5 {
        font-size: 3rem;
        font-weight: 900;
        color: #e75200;
        margin-right: 1rem;
        @include respond(ex) { font-size: 2rem; margin-right: 4vw; }
    }
    &_more {
        color: $brand-color;
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 700;
        @include respond(ex) { font-size: 1rem; }
        span {
            display: block;
            font-size: .875rem;
            font-weight: 400;
            @include respond(ex) { font-size: .75rem; }
        }
    }
}

.price-ethereum {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $title-font;
    font-size: 2.25rem;
    @include respond(ex) { font-size: 1.75rem; }
    &:before {
        width: 20px;
        height: 26px;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDI2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjQiLz48cmVjdCB5PSIyMiIgd2lkdGg9IjIwIiBoZWlnaHQ9IjQiLz48cmVjdCB4PSIyIiB5PSIxMSIgd2lkdGg9IjE2IiBoZWlnaHQ9IjQiLz48L3N2Zz4=);
        margin-right: .875rem;
        content: "";
        @include respond(ex) { 
            width: 15px;
            height: 20px;
        } 
    }
    &_eth {
        font-size: 1.25rem;
        text-transform: uppercase;
        margin-left: 1rem;
    }
}

.input-plus-minus {
    position: relative;
    input[type='text'] {
        width: 7rem;
        @include respond(ex) { width: 6rem; }
        height: 2.5rem;
        border-radius: 1.25rem;
        border: 1px solid $silver-color;
        font-size: 1rem;
        text-align: center;
        font-weight: 700;
    }
    .input-button {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        border: none;
        background: transparent;
        font-size: 1.25rem;
        text-align: center;
        font-weight: 700;
        line-height: 1;
        &.input-minus { left: 0; }
        &.input-plus { right: 0; }
        &:hover { cursor: pointer; color: $link-hover-color; }
    }
}

.b-progres {
    padding: 2rem 1.5rem;
    @include respond(md) {
        padding: 2rem 2.5rem;
        background: #4cb166;
        margin-left: -15px;
        margin-right: -15px;
    }
    @include respond(mobile) {
        padding: 2rem 2.5rem;
        background: #4cb166;
        margin-left: -15px;
        margin-right: -15px;
    }
    @include respond(ex) {
        padding: 1.5rem 1rem;
    } 
}
.progres-bar {
    display: block;
    width: 75%;
    height: 8px;
    background: $progresbar-bg;
    @include respond(md) { background: $brand-color }
    @include respond(mobile) { background: $brand-color }
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    &_val {
        min-width: 3%;
        background: $plus-color;
        @include respond(md) { background: $white-color; }
        @include respond(mobile) { background: $white-color; }
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border-radius: 4px;
    }
}
.pandas-point {
    font-family: $title-font;
    font-size: 2rem;
    color: $brand-color;
    line-height: 1;
    @include respond(md) { color: $mark-color; }
    @include respond(mobile) { color: $mark-color; }
}
.progres-text {
    margin-top: .75rem;
    color: $text-color;
    @include respond(md) { color: $white-color; }
    @include respond(mobile) { color: $white-color; }
}


.discount-offer {
    font-family: $title-font;
    font-size: 4vw;
    color: $mark-color;
    line-height: 1.25;
    @include respond(md) { font-size: 6vw; }
    @include respond(sm) { font-size: 8vw; }
    @include respond(ex) { font-size: 10vw; }
    span {
        display: block;
        font-size: 0.27em;
        margin-top: -.25rem;
    }
}

.pl-right-wrap { 
    padding-left: 8vw;
    @include respond(ex) { padding-left: 15px; }
}
.presale-panda {
    width: 25vw;
    position: absolute;
    top: 50%;
    right: 6vw;
    margin-top: -11vw;
    z-index: 3;
    @include respond(sm) { width: 40vw; margin-top: -17vw; }
    @include respond(ex) { 
        width: 50vw;
        top: auto;
        bottom: -20px;
        margin-top: 0;
        right: 15px;
    }
}

.presale-panda-modal {
    max-width: 400px;
}
.so-much {
    display: block;
    font-family: $add-font;
    font-size: 2.5rem;
    color: $brand-color;   
}

